<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.collection_select(:role, Role.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :race %><br>
    <%= f.collection_select(:race, Race.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$(document).ready(function() {

  $("#new_player").validate({
    rules: {
      "player[name]": {required: true},
      "player[role]": {required: true},
      "player[race]": {required: true },
      "player[level]": {required: true}

    }
  });

});
</script>