<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Race</th>
      <th>Level</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.role.name %></td>
        <td><%= player.race.name %></td>
        <td><%= player.level %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Joueur', new_player_path %>
<%= link_to 'Voir les Roles', roles_path %>
<%= link_to 'Voir les Races', races_path %>
<div style="margin-top: 50px">
  <input id="player_selected"   name="playername" type="text" placeholder="Chercher joueur ..."/>
  <
</div>


<script>

$(document).ready(function() {
  $('#player_selected').autocomplete({
    source: function(requete,response){
        $.ajax({

            url : "<%= player_autocomplete_path %>", // on appelle le script JSON
            dataType : 'json', // on spécifie bien que le type de données est en JSON
              data : {
                          
                name_startsWith : $('#player_selected').val(), // on donne la chaîne de caractère tapée dans le champ de recherche

                maxRows : 15

            },
            type: 'POST',
            success : function(donnee){ // on se prépare à renvoyer les données réceptionnées grâce à l'évènement de succès
                  response($.map(donnee, function(objet){

                    return objet.name; // on retourne cette forme de suggestion

                }));
            }
        });
    }
  });
});
</script>
