<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @player.role.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @player.race.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @player.level %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
<%= link_to 'levelUp', player_levelup_path(@player) %> |
